html
    head
        link(href='style.css', rel='stylesheet')
        script(src='ga.js')
        script(src='bot.js')
        script(src='game.js')
        script(src='script.js')
    body
        #info
            h1
                span#info-generation
                span -
                span#info-frame
            h3#info-score
        #controls
            button(onclick='run()') start
            button(onclick='pause()') pause 
        #games
        #gameP.game
            .play
            .ball
            .goal
