$clr-bg: #ccc;
$clr-ball: #c00;
$clr-goal: #0c0;
$clr-play: #00c;
$clr-backing: #000;

body {
    margin:0;
    padding: 0;
}

#info {
    display: flex;
    flex-flow: row;

    align-items: center;
    justify-content: space-between;
}

#controls {
    text-align: center;
}

#games {
    display: flex;
    flex-flow: row wrap;
    justify-content: center;

    padding: 1rem;
    background: $clr-backing;
}

.game {
    background: $clr-bg;
    position: relative;
    overflow: hidden;

    margin: 0.25rem;

    .ball, .play, .goal {
        position: absolute;
        border-radius: 50%;
    }

    .ball { background: $clr-ball; }
    .play { background: $clr-play; }
    .goal { background: $clr-goal; }
}
